<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="waProduccion_Pedidos.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="waProduccion_Pedidos.My.MySettings.SBOGuateplastConnectionString" connectionString="Data Source=GuateSAP;Initial Catalog=SBOGuateplast;Persist Security Info=True;User ID=sa;Password=Plastic0" providerName="System.Data.SqlClient" />
        <add name="waProduccion_Pedidos.My.MySettings.SBOGuateplastConnectionString1" connectionString="Data Source=GuateSAP;Initial Catalog=SBOGuateplast;Persist Security Info=True;User ID=sa;Password=Plastic0" providerName="System.Data.SqlClient" />
        <add name="waProduccion_Pedidos.My.MySettings.APGProduccionConnectionString" connectionString="Data Source=GuateSAP;Initial Catalog=APGProduccion;User ID=sa;Password=Plastic0" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <waProduccion_Pedidos.My.MySettings>
            <setting name="dbconectionSQL_GT_Tipo" serializeAs="String">
                <value>dbconectionSQL_GT</value>
            </setting>
            <setting name="dbconectionSQL_GT" serializeAs="String">
                <value>EBgpfCZrGOnGgpQ/EvgB55P+sf5JyNqs8NrR1ViH7JubZtNAIAQObulx0fLndAntoLRb5/pMuKTEm58jMA7gzdc3rp/9kl1k
</value>
            </setting>
            <setting name="dbconectionSQL_GTT" serializeAs="String">
                <value>EBgpfCZrGOnGgpQ/EvgB55P+sf5JyNqsowyNAGRLl+LrEB6cNcuB0ZgVC+9ufVXbBVkaTn5qvjOb6anDITOivA==</value>
            </setting>
            <setting name="dbconectionSQL_SV" serializeAs="String">
                <value>EBgpfCZrGOnGgpQ/EvgB55P+sf5JyNqsSeC19hJUa4u7i1PQnCSI5ZgVC+9ufVXbBVkaTn5qvjOb6anDITOivA==
</value>
            </setting>
            <setting name="dbconectionSQL_CR" serializeAs="String">
                <value>EBgpfCZrGOnGgpQ/EvgB55P+sf5JyNqsuxyl2PsH3Q2YFQvvbn1V2wVZGk5+ar4zm+mpwyEzorw=
</value>
            </setting>
            <setting name="dbconectionDIAPI_GT_Tipo" serializeAs="String">
                <value>dbconectionDIAPI_GT</value>
            </setting>
            <setting name="dbconectionDIAPI_GT" serializeAs="String">
                <value>FadWnNLdKOTMTlLdf2R2UK+brPZ7tOvlug1xv+1+YMCNolxNs1N+aUtJuTBXQAiPj7nq6EBPM7kN0BcTg5eo6WJFsZZ3maawwl1aRF5EpLE1nhHRTW9q499d15q+nLPjNK87+dfI99yfRp51hVu1OOkKcDP4CXEGNm3FDfK/blNqlN4TVFS8sJv5cRBauEvLiDGJqTeALS2eE7kofY5bjhpugW9NmPNrfvekfL9UPWpYEUDaYZL1u/Z18efIDEp0YaM772w91Po=</value>
            </setting>
            <setting name="dbconectionDIAPI_GTT" serializeAs="String">
                <value>FadWnNLdKOTMTlLdf2R2UK+brPZ7tOvlug1xv+1+YMCNolxNs1N+aU8gGGETl6mFcKR1Ry3fquqSkC2wCZ5N2w2raSrcMAFTsOFU5RaKZI6n87qI3UdKVFx+IBKaeIvN6PpXixfhqgfuHSL7F2DZwm0ygDXdOVoTO+WrpPP6Xaxb0gx9zdEsmxR8Kk3FdPoxFoT+iUscZ7769NAoysMpSZCFy1gz/tZjRqaEr89oDlrvAp9QrXnzJQ==</value>
            </setting>
            <setting name="dbconectionDIAPI_SV" serializeAs="String">
                <value>FadWnNLdKOTMTlLdf2R2UK+brPZ7tOvlug1xv+1+YMCNolxNs1N+aQ9QbyBusP34T3iaMc2zsduSkC2wCZ5N2w2raSrcMAFTsOFU5RaKZI6n87qI3UdKVFx+IBKaeIvN6PpXixfhqgfuHSL7F2DZwm0ygDXdOVoTO+WrpPP6Xaxb0gx9zdEsmxR8Kk3FdPoxFoT+iUscZ7769NAoysMpSZCFy1gz/tZjRqaEr89oDlrvAp9QrXnzJQ==</value>
            </setting>
            <setting name="dbconectionDIAPI_CR" serializeAs="String">
                <value>FadWnNLdKOTMTlLdf2R2UK+brPZ7tOvlug1xv+1+YMCNolxNs1N+aUaVmnPyIYJbkpAtsAmeTdsNq2kq3DABU7DhVOUWimSOp/O6iN1HSlRcfiASmniLzej6V4sX4aoH7h0i+xdg2cJtMoA13TlaEzvlq6Tz+l2sW9IMfc3RLJsUfCpNxXT6MRaE/olLHGe++vTQKMrDKUmQhctYM/7WY0amhK/PaA5a7wKfUK158yU=</value>
            </setting>
            <setting name="log_Usuario" serializeAs="String">
                <value>czepeda</value>
            </setting>
            <setting name="log_Nombre" serializeAs="String">
                <value>Carlos Zepeda</value>
            </setting>
            <setting name="dbconectionDIAPI_GTTGuateplast" serializeAs="String">
                <value>FadWnNLdKOTMTlLdf2R2UK+brPZ7tOvlug1xv+1+YMCNolxNs1N+aU8gGGETl6mFcKR1Ry3fquqSkC2wCZ5N2w2raSrcMAFTsOFU5RaKZI6n87qI3UdKVFx+IBKaeIvN6PpXixfhqgfuHSL7F2DZwm0ygDXdOVoTO+WrpPP6Xaxb0gx9zdEsmxR8Kk3FdPoxFoT+iUscZ77bQyMJgG2m8lfxkppoUO2k/PrK9I/zIbJkjv17KLItCdc3rp/9kl1k</value>
            </setting>
            <setting name="EMAIL_User" serializeAs="String">
                <value>informatica@guateplast.com</value>
            </setting>
            <setting name="EMAIL_Password" serializeAs="String">
                <value>Inf0gt2015</value>
            </setting>
            <setting name="log_DB" serializeAs="String">
                <value>SBOGuatetest</value>
            </setting>
            <setting name="dbconectionSQL_MX" serializeAs="String">
                <value>EBgpfCZrGOnGgpQ/EvgB55P+sf5JyNqs8NrR1ViH7Js5Zor/pbmLiUtroNDpfiTe7h0i+xdg2cLHlCEH8DE3Dw==</value>
            </setting>
            <setting name="dbconectionDIAPI_MX" serializeAs="String">
                <value>FadWnNLdKOTMTlLdf2R2UK+brPZ7tOvlug1xv+1+YMCNolxNs1N+afB+Cn2Wu6ULLqLwyXC5xW77T2AC6DA01WBzh5/RqLcMtMW07lMLIbdri/LDFCI96t0mUKp9L2DiSIKjEsLfu1KtaviZ1NC8LmRQf7N12yhg29lZjetxALtC0TRGtM6cm/ReuTew50RGYitrifwbXtAVp1ac0t0o5MxOUt1/ZHZQr5us9nu06+Vh2NuJDQ7LioyXfvCEflQE</value>
            </setting>
        </waProduccion_Pedidos.My.MySettings>
    </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
